.banner-photo {
}
.icons{
	height: 30%;
	width: 30%;
}


#nav {

	margin-top: -25px;
}

#logo {
	margin-top: -20px !important;
}

#perroPortada {
	width: 60%;
	margin-top: -12%;
	margin-bottom: -8%;
}

.icons {
	width: 100%;
}

.icons li a {
	transition: all .2s ease-in-out; 
}

.icons li a:hover {
	transform: scale(2); 
}