.icons{
	height: 30%;
	width: 30%;
}


#nav {

	margin-top: -25px;
}

#logo {
	margin-top: -20px !important;
}

#perroPortada {
	width: 83%;
	margin-top: -9%;
	margin-bottom: -5%;
	margin-left: -3%;
}

.icons {
	width: 100%;
}

.icons li a {
	transition: all .2s ease-in-out; 
}

.icons li a:hover {
	transform: scale(2); 
}


